$widthSmall:		480px;
$widthMedium:		798px;
$widthLarge:		1200px;

$baseColor: 		#282828;
$primaryColor: 		#4B8C2F;
$white: 			white;
$backgroundColor:	rgba(255, 255, 255, 0.8);

$defaultFontSize:	14px;
$defaultLineHeight:	1.5em;
$defaultFontFamily:	"Arial Narrow", Arial, Helvetica, Verdana, sans-serif;
$defaultLetterSpacing: 0.1em;
$defaultMargin: 	1em;